:root {
    --background_size_300px: 300px;
}

.content {
    width: 300px;
    margin: auto auto 75px;
}

body {
    margin: 0;
    font-family: system-ui;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: gray;        /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
}

.name_surname {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.image_photo {
    width: 300px;
    height: 407px;
    background: url("img/georgii_photo.png") no-repeat;
    background-size: 412px;
    margin: 10px auto 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
}

.skills {
    background: #9e9e9e;
    box-shadow: 0 0 10px;
    border-radius: 15px;
    margin: 20px auto;
    padding-bottom: 1px;
    padding: 10px 0 1px;
}

.image_html5 {
    width: 300px;
    height: 300px;
    background: url("img/html5_image.png") no-repeat;
    box-shadow: 0 0 10px blue;
    border-radius: 1000px;
    margin: 20px auto;
    background-size: 358px;
    background-position-x: -28px;
    background-position-y: -22px;
}

.css3_image {
    background: url("img/css3_image.png") no-repeat;
    margin: auto;
    background-size: 360px;
    background-position-x: -30px;
    background-position-y: -27px;
}

.JS_image {
    background: url("img/JS_image.png") no-repeat;
    background-size: var(--background_size_300px);
    margin: 30px auto;
}

.django_image {
    background: url("img/django_image.png") no-repeat;
    background-size: var(--background_size_300px);
    margin: 30px auto;
    padding-bottom: 15px;
    height: 284px;
}

.python_image {
    background: url("img/python_image.png") no-repeat;
    background-size: var(--background_size_300px);
    margin: auto;
}

.text_project {
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    font-weight: 500;
}

.search_project {
    outline: none;
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
}

::placeholder {
    font-family: system-ui;
    font-weight: 700;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
}

.project {
    background: #bbb4de;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    width: 300px;
}

.description_project {
    padding: 10px;
    color: white;
}

.name_project {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 200px;
    margin: 15px auto 15px;
    box-shadow: 0 0 10px beige;
    padding: 10px 50px;
}

.quiz_image {
    width: 300px;
    height: 210px;
    background: url("projects_image/quiz_image.png") no-repeat;
    background-size: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
}

.tags {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.tag {
    background: blue;
    width: max-content;
    height: 30px;
    border-radius: 10px;
    color: #FFF;
    line-height: 30px;
    padding: 1px 10px;
    border: 2px solid blue;
    box-shadow: 0 0 10px blue;
}

.tag:hover {
    background: #FFFFFF;
    border: 2px solid blue;
    color: black;
    cursor: pointer;
}

.button {
    text-align: center;
    background: blue;
    padding: 10px;
    color: #FFF;
    width: 260px;
    border-radius: 10px;
    margin: auto auto 10px;
    cursor: pointer;
    border: 2px solid blue;
}

.button:hover {
    background: #FFFFFF;
    color: black;
}

.certificate_1 {
    width: 300px;
    height: 245px;
    background: url("certificates/certificate_geekbrains.png") no-repeat;
    background-size: 428px;
    background-position-x: -69px;
    background-position-y: -29px;
    margin: auto auto 20px;
    box-shadow: 0 0 10px blue;
    border-radius: 10px;
}

.text_certificate {
    margin: 10px auto 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.point {
    background: cadetblue;
    height: 10px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 0 3px blue;
    position: relative;
}

.points {
    display: flex;
    gap: 10px;
    margin: auto auto 10px;
    width: 150px;
}

input[type='search'] {
    cursor: pointer;
}

.dark_theme {
    position: fixed;
    left: 8px;
    right: 8px;
    box-shadow: 0 0 10px blue;
    bottom: 10px;
    text-align: center;
    background: blue;
    padding: 10px;
    color: #FFF;
    width: 260px;
    border-radius: 10px;
    margin: auto auto 10px;
    cursor: pointer;
    border: 2px solid blue;
}

.animation {
    width: 100%;
    position: absolute;
}

.vocabulary_image {
    width: 300px;
    height: 93px;
    background: url("projects_image/vocabulary_image.png") no-repeat;
    background-size: 671px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position-x: -183px;
}

.calculate_money_image {
    width: 300px;
    height: 190px;
    background: url("projects_image/calculate_money_image.png") no-repeat;
    background-size: 916px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position-y: -95px;
    background-position-x: -19px;
}

.list_activity {
    width: 300px;
    height: 190px;
    background: url("projects_image/list_activity.png") no-repeat;
    background-size: 1057px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position-x: -25px;
    background-position-y: -61px;
}

.harry_potter_image {
    width: 300px;
    height: 190px;
    background: url("projects_image/harry_potter_image.png") no-repeat;
    background-size: 647px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position-x: -205px;
}

.watch_design_image {
    width: 300px;
    height: 206px;
    background: url("projects_image/design_watch.png") no-repeat;
    background-size: 647px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position-x: -133px;
}

.dark_body {
    background: black;
    color: #FFFFFF;
}

.not_visible {
    display: none;
}

.tag_click {
    background: white;
    color: black;
}

.text_DescriptionStudent {
    padding: 20px 0;
    font-weight: 700;
    font-style: italic;
    margin: auto;
    font-size: 20px;
}

.content_1 {
    margin: auto;
}

.description_student {
    display: flex;
    flex-direction: column;
}

.data_link {
    color: blue;
    cursor: pointer;
}

.image_TestPlatform {
    width: 300px;
    height: 160px;
    background: url("projects_image/icon_TestPlatform.png") no-repeat;
    background-size: 144px;
    background-position-x: center;
    background-position-y: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
}

.name_framework {
    font-style: italic;
}

.name_framework_bold {
    font-style: italic;
}

.flex_text_sentence {
    display: flex;
    gap: 10px;
}

.image_hackathon {
    width: 300px;
    height: 259px;
    background: url("projects_image/image_hackathon.png") no-repeat;
    background-size: 512px;
    border-radius: 10px;
    box-shadow: 0 0 10px beige;
    background-position: -36px;
}

@media (min-width: 768px) {
    .tag_click:hover {
        background: blue;
        color: #FFF;
        box-shadow: 0 0 10px blue;
    }

    .description_student {
        flex-direction: row;
    }

    .content {
        width: 600px;
        margin: auto;
    }

    .content_1 {
        width: 700px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .django_image {
        margin: 30px auto 30px;
    }

    .tags {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px auto;
    }

    .certificate_1 {
        width: 600px;
        height: 410px;
        background-size: 725px;
        background-position-x: -57px;
        background-position-y: -46px;
    }

    .search_project {
        width: 600px;
    }

    #list_project_activity {
        margin: 7px auto 0;
    }

    .button:hover {
        box-shadow: 0 0 10px;
    }

    .point {
        cursor: pointer;
    }

    .image_photo {
        box-shadow: none;
    }

    .image_photo:hover  {
        box-shadow: 0 0 10px blue;
    }

    .image_html5 {
        box-shadow: none;
    }

    .image_html5:hover {
        box-shadow: 0 0 10px blue;
    }

    .search_project {
        box-shadow: none;
    }

    .search_project:hover {
        box-shadow: 0 0 10px blue;
    }

    .tag {
        box-shadow: none;
        width: 170px;
        text-align: center;
    }

    .tag:hover {
        box-shadow: 0 0 10px blue;
    }

    .point {
        box-shadow: none;
    }

    .point:hover {
        box-shadow: 0 0 3px blue;
    }

    .name_project:hover {
        box-shadow: 0 0 10px beige;
    }

    .dark_theme {
        position: relative;
        bottom: 0;
        left: 0;
        top: 10px;
        box-shadow: 0 0 10px blue;
        margin: 10px auto 30px;
        width: 576px;
    }

    #description_project_1 {
        height: 60px;
    }

    #description_project_2 {
        height: 73px;
    }

    #description_project_4 {
        height: 63px;
    }

    #description_project_5 {
        height: 85px;
    }

    .dark_theme:hover {
        background: #FFFFFF;
        color: black;
    }

    .vocabulary_image {
        height: 170px;
        background: url("projects_image/vocabulary_image768.png") no-repeat;
        background-size: 487px;
        background-position-x: center;
    }

    .quiz_image {
        background-size: 431px;
        background-position-x: -43px;
        background-position-y: -26px;
    }

    .watch_design_image {
        background-size: 629px;
        background-position-x: -1px;
        background-position-y: -213px;
    }
}

@media (min-width: 1024px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .content {
        width: 900px;
        margin: auto;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .tags {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .tag {
        width: 252px;
        text-align: center;
        margin: auto;
    }

    .search_project {
        width: 900px;
    }

    .certificate_1 {
        width: 900px;
        height: 620px;
        background-size: 1100px;
        background-position-x: -92px;
        background-position-y: -75px;
    }

    #list_project_activity {
        margin: 5px auto 0;
    }

    .project {
        width: 300px;
    }

    .button {
        width: 252px;
    }

    .quiz_image {
        width: 300px;
        height: 200px;
        background-size: 417px;
        background-position-x: -40px;
        background-position-y: -26px;
    }

    .name_project {
        width: 200px;
    }

    .dark_theme {
        width: 876px;
    }

    #description_project_4 {
        height: 69px;
    }

    #description_project_2 {
        height: 83px;
    }

    #description_project_1 {
        height: 80px;
    }

    #description_project_5 {
        height: 96px;
    }

    #description_project_6 {
        height: 53px;
    }

    .vocabulary_image {
        height: 170px;
        background: url("projects_image/vocabulary_image768.png") no-repeat;
        background-size: 504px;
        background-position-x: -100px;
        background-position-y: 0;
    }
}